body {
 font-family: 'Segoe UI', sans-serif;
 text-align: center;
 background-color: #ffe6f0;
 overflow-x: hidden;
}
.container {
 margin-top: 20%;
}
button {
 padding: 15px 30px;
 margin: 10px;
 font-size: 18px;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 transition: all 0.3s;
}
#yesBtn {
 background-color: #ff66b2;
 color: white;
}
#noBtn {
 background-color: #ffcccc;
 position: relative;
}
.surprise {
 display: none;
 margin-top: 10%;
 animation: fadeIn 1.5s ease-in-out;
}
img {
 width: 250px;
 margin-top: 20px;
 border-radius: 20px;
}
@keyframes fadeIn {
 from {opacity: 0;}
 to {opacity: 1;}
}
.heart {
 position: fixed;
 font-size: 20px;
 animation: fall 4s linear infinite;
 color: red;
}
@keyframes fall {
 0% {
   top: -10px;
   opacity: 1;
 }
 100% {
   top: 100vh;
   opacity: 0;
   transform: translateX(100px);
 }
}
